



.back{

	margin: 10px 5% 0 5%;

background-color:rgb(255,255,255);

  background: -moz-linear-gradient(top, #FEFEFE 0%, #f4efef 100%);

-webkit-border-radius: 15px;
 
 -moz-border-radius: 15px;

  -ms-border-radius: 15px;
 
 -o-border-radius: 5px;
  border-radius: 5px;
  
padding: 8px 15px 9px 15px;


}







.headerMenu
{
background-color:#0000CD;
height:56px;
padding-left:auto;
padding-right:auto;
margin-bottom:0px;
width:100%;

}
#wrapper
{
	
	margin-left:auto;
	margin-right:auto;
	padding-left:auto;
padding-right:0px;;
margin-bottom:0px;
height:1000px;
	
}

h2{
font-family:Arial,Helvetica,sans-serif;		
	padding:8px;
font-size:18px;	
color:0084c6;
}
.input
{
	background-color:#FFFFFF;
	border: 1px solid #E2E2E2;
	font-size:15px;
		
padding-top:3px;
padding-bottom:3px;
width:300px;
outline:none;
	
	
}
.input:hover
{
	
border: 1px solid #006FC4;	
}
input[type="submit"]
{
	background-color:#006FC4;
	border:1px solid #00508D;
	font-size:15px;
	color:#FFFFFF;
	padding:5px;
	margin-bottom:3px;
	
	margin-top:3px;
	border-radius:7px;
	
	
}


