.head
{




    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;



}

#info
{
    
float: right;   
     margin-top: -10px;
    margin-right: -5px;
}


.submit
{
    font-size: 20px; 
    font-family: sans-serif;

    background-color: #FFD700;
    margin-left: 20px;
    border-radius: 30px;
    color: aliceblue;
    border-color: black;


}
#main
{

    position: absolute;
    top: 10px;
  
    
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow:	
        0pt 2px 5px rgba(105, 108, 109,  0.7);
    border-radius: 5px;
    z-index: 22;
    width: auto;
    align-items: center;



}
#main1
{

    visibility: hidden;
    position: absolute;
    top: 10px;
    width: 88%;	
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow:	
        0pt 2px 5px rgba(105, 108, 109,  0.7);
    border-radius: 5px;
    z-index: 22;
    width: auto;
    align-items: center;

}
label
{

    color: #FFD700;  


}




.forget
{

    color: #FFD700;  
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}


.input-group{   border-color: black; margin-right: 10px; }





.error

{

    color: red;
    margin-left: 20px;
    font-size: 15px;

}
#logoutpage
{

    visibility: hidden;    

}

